@import "./variables.scss";
@import "./mixins.scss";
@import "./reset.scss";
@import "./utils.scss";

.nav {
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0;
  .admin {
    justify-content: flex-end;
  }
}

.nav-list {
  @include respond(tab-port) {
    display: none;
  }
}

.page {
  @include respond(phone) {
    max-width: 100%;
    flex-wrap: wrap;
  }

  .slider {
    flex-grow: 5;
    @include respond(phone) {
      order: 2;
    }
  }

  .seller {
    flex-grow: 2;
    width: 296px;
    @include respond(phone) {
      order: 1;
    }
    .contact {
      border: 1px solid;
      outline: none;
      border-radius: 0.5rem;
    }
  }
}

.rating {
  display: flex;
  flex-direction: row-reverse; /* this is the magic */
}

.rating input {
  display: none;
}

.rating label {
  cursor: pointer;
}

.rating label:hover,
.rating label:hover ~ label {
  /* reason why the stars are in reverse order in the html */
  color: $warning-300;
}

.rating input:checked ~ label {
  color: $warning-300;
}

.slider-images {
  position: relative;
  .arrows {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
  .arrow-left {
    margin-left: 0.5rem;
  }

  .arrow-right {
    margin-right: 0.5rem;
  }

  .dots {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    width: 100%;
    bottom: 2.5rem;
  }

  .dot {
    cursor: pointer;
    margin: 0 0.2rem;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: white;
    &.active {
      background-color: $primary-900;
    }
  }
}
